@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General styles */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 4.8rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #e67700;

  border-radius: 8px;
}

.btn:hover,
.btn:hover {
  background-color: #cf6b00;
}

/* Header section */
.home-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #f8f9fa;
}

.home-logo:link,
.home-logo:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  color: #e67700;
}

.home-logo:hover,
.home-logo:active {
  color: #e67700;
}

.home-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;

  list-style: none;
}

.home-nav-link:link,
.home-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;

  transition: all 0.3s ease-in;
}

.home-nav--admin {
  margin-left: 4.8rem;
}

.home-nav-link:hover,
.home-nav-link:active {
  color: #e67700;
}

.home-nav--cta:link,
.home-nav--cta:visited {
  background-color: #e67700;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
}

.home-nav--cta:hover,
.home-nav--cta:hover {
  background-color: #cf6b00;
  color: #fff;
}

/* SECTION HERO */

.section-hero {
  background-color: #f8f9fa;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 4.8rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.heading-primary {
  color: #444;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-primary span {
  color: #eb9233;
}

.hero-description {
  font-size: 2.2rem;
  font-weight: 400;
  color: #555;
  line-height: 1.6;
  letter-spacing: 1.1px;
  margin-bottom: 4.8rem;
}

.hero-btn--cta {
  margin-bottom: 7.4rem;
}

.hero-btn--cta span {
  margin-right: 0.5rem;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40rem;

  color: #444;
}

.stats .number {
  font-size: 4.4rem;
  font-weight: 500;
}

.stats .text {
  font-size: 2rem;
}

.hero-image-box img {
  width: 100%;
  border-radius: 6px;
}

/* Feature section */
.section-feature {
  padding: 6.2rem;
}

.heading-secondary {
  color: #61370a;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

.feature-heading {
  text-transform: uppercase;
  text-align: center;
  color: #777;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  opacity: 50%;
}
.feature-img {
  height: 3.2rem;
  filter: brightness(0);
}

/* Section popular */

.section-popular {
  background-color: #f8f9fa;
  padding: 6.2rem;
}
.popular-heading {
  text-align: center;
  font-size: 3rem;
}

.popular-hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.2rem;
}
.popular-hotel-data {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;

  overflow: hidden;
}
.popular-hotel-data img {
  width: 100%;
  transition: all 0.3s ease-in;
}

.popular-hotel-data img:hover {
  transform: scale(1.05);
}

.hotel-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-size: 1.6rem;
  padding: 2.8rem 3.2rem;
}

.hotel-name {
  font-size: 1.8rem;
  font-weight: 700;
  /* text-align: center; */
}

.hotel-price {
  font-size: 1.2rem;
  font-style: italic;
}
/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
