.client-sidebar {
  background-color: #14213d;
  padding: 7rem 0;
}

.client-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 2rem;
}

.client-sidebar li {
  padding-left: 3rem;
}

.client-sidebar li:hover {
  background-color: #49505742;
  border-radius: 11px;
  cursor: pointer;
}

.client-sidebar li a,
.client-sidebar li a:link,
.client-sidebar li a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.9rem;
  padding: 1.2rem;
  color: #f1f3f5;

  transition: all 0.3s;
}

.client-sidebar li a:hover,
.client-sidebar li a:active {
  color: #adb5bd;
}

.client-sidebar--icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.client-sidebar--icon:hover {
  color: #adb5bd;
}

li:hover .client-sidebar--icon .sidebar-icon {
  color: #e67700; /* Change to your desired color for the icon */
}

.client-logout {
  color: red;
}
