.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: 5.8rem; */
}

.client-intro-section {
  width: 90%;
}

.client-intro {
  margin-bottom: 2rem;
}

.client-avatar {
  border-radius: 100%;
}

.client-profile {
  display: flex;
  gap: 4.8rem;

  align-items: center;
  justify-content: center;
}

.btn {
}
