.client-signup-container {
  background-color: #fff4e6;
  height: 100vh;
  font-size: 3rem;
  display: grid;

  align-items: center;
  justify-content: center;
}

.client-signup {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  background-color: #fff;
  padding: 5rem;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.client-signup label {
  display: block;

  color: #495057;
  font-size: 1.9rem;
}

.client-signup input {
  font-size: 1.5rem;
  height: 4rem;
  width: 40rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border-radius: 9px; */
  border: 0 solid grey;
  padding: 1rem;
  background-color: #f8f9fa;
}
.client-signup input:focus {
  border: 0px;
}

.client-signup-container button {
  display: block;
  background-color: #e67700;
  padding: 1.6rem;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  transition: all 1s ease-in;
}

.client-signup-container button:hover {
  background-color: #8a4700;
}
