.client-signup-container {
  background-color: #fff4e6;
  height: 100vh;
  font-size: 3rem;
  display: grid;

  align-items: center;
  justify-content: center;
}

.client-signup {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  background-color: #fff;
  padding: 5rem;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.client-signup label {
  display: block;

  color: #495057;
  font-size: 1.9rem;
}

.client-signup input {
  font-size: 1.5rem;
  height: 4rem;
  width: 40rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border-radius: 9px; */
  border: 0 solid grey;
  padding: 1rem;
  background-color: #f8f9fa;
}
.client-signup input:focus {
  outline: none;
  border-bottom: 2px solid #ff922b;
}

/* .client-signup-container button {
  display: block;
  background-color: #e67700;
  padding: 1.6rem;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  transition: all 1s ease-in;
}

.client-signup-container button:hover {
  background-color: #8a4700;
} */

/* CSS */
.client-signup-container button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #e67700;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.client-signup-container button:hover {
  background-color: #8a4700;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.client-signup-container button:hover:after {
  opacity: 0.5;
}

.client-signup-container button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.client-signup-container button:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .client-signup-container button {
    padding: 14px 22px;
    width: 176px;
  }
}
