.space-container {
  height: 100vh;
}

.space-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.space img {
  width: 40%;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.space-title {
  margin-bottom: 2rem;
}

.description span,
.phone-number span {
  font-weight: 600;
}

.description,
.phone-number {
  margin-bottom: 1.5rem;
}

.location-price {
  display: flex;
  gap: 10rem;
}

.icons {
  display: flex;

  align-items: center;
  gap: 1rem;
}

.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  margin-bottom: 3rem;
}
