.space-container {
  height: 100vh;
}

.space-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.space img {
  width: 30%;
}

.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
