.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 3rem 5rem 3.5rem 5rem;
  background-color: #fafaf9;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 1.2rem;
  color: #475569;
}
