.login-form-section {
  height: 100vh;
}

.login-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  color: #343a40;
}

.login-image {
  padding: 1.5rem;
  height: 100vh;
}

.login-image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container .form {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}

.back-home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-size: 1.6em;
  color: #e67700;
}
.back-home a {
  color: #e67700;
  text-decoration: none;
}

.back-home a:hover {
  text-decoration: underline;
}

.form-heading {
  text-align: center;
  font-size: 4rem;
}

.heading-description {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.form input {
  box-sizing: content-box;
  display: block;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffc078;
  background-color: #f8f9fa;

  font-size: 1.6rem;
  transition: all 0.3s ease-out;
}

.form-inputs input[type="text"]:focus,
.form-inputs input[type="password"]:focus {
  outline: none;

  border-bottom: 2px solid #f08c00;
}

.form h2 {
  margin-bottom: 2rem;
}

.reset-password {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
.reset-password p {
  cursor: pointer;
  font-size: 1.5rem;
}

.reset-password p:hover {
  color: #cf6b00;
}

.form-submit button {
  display: inline-block;
  padding: 1.1rem 3.2rem;
  border-radius: 10px;
  margin-top: 2rem;
  font-size: 1.8rem;

  border: none;
  color: #fff;
  background-color: #fd7e14;
  cursor: pointer;
  width: 100%;

  margin-bottom: 2rem;
}

.form-submit button:hover {
  background-color: #f76707;
}

.form-error {
  color: red;
  font-size: 1.6rem;
}

.cont-with-divider {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.cont-with-divider hr {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.login-with-socials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  font-size: 4rem;
}

.socials .icon {
  cursor: pointer;
}

.sign-up-redirect {
  display: flex;
  justify-content: center;
}

.sign-up-redirect p {
  font-size: 1.8rem;
}

.sign-up-redirect a {
  text-decoration: none;
}

.sign-up-redirect span {
  color: #e67700;
}

.sign-up-redirect span:hover {
  text-decoration: underline;
}

@media (max-width: 100em) {
  .form-container .form {
    width: 70%;
  }
}

@media (max-width: 69em) {
  .login-form-container {
    grid-template-columns: auto;
    padding-top: 10rem;
  }
  .login-image {
    display: none;
  }
}

@media (max-width: 63em) {
  .form-heading {
    font-size: 3rem;
  }
  .heading-description {
    font-size: 1.5rem;
  }
  .form-container .form {
    width: 60%;
  }
}

@media (max-width: 43em) {
  .form-heading {
    font-size: 2.5rem;
  }
  .heading-description {
    font-size: 1.3rem;
  }
  .form-container .form {
    width: 80%;
  }
}
